[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy = "==1.4.41"
faker = "==14.2.0"
ipdb = "==0.13.9"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
